<h1>Cadastre Seu Livro</h1>
<form action="/books/insertbook" method="post" class="form">
    <div class="form_control">
        <label for="">Título</label>
        <input type="text" name="title" placeholder="Digite o titulo do livro">
    </div>

    <div class="form_control">
        <label for="">Quantidade de Paginas</label>
        <input type="text" name="nm_paginas" placeholder="Digite a quantidade de paginas">
    </div>

    <div class="form_control">
        
        <input type="submit" value="Cadastrar">
    </div>

    <a href="/books">Visualizar Livros</a>
</form>